
.darkTheme {
    background: #212121 !important;
    background-color:#212121 !important;
    color: white;
    border: black;

  }

  .lightTheme {
    background: #c5c5c5 !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
    border: rgb(255, 255, 255);
  }